<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
</configSections>
<connectionStrings>
    <add name="K5GLONLINE.Properties.Settings.K5GL_BEConnectionString"
        connectionString="Data Source=122.3.37.162;Initial Catalog=K5GL_BE;User ID=server2008;Password=Mssqlone1"
        providerName="System.Data.SqlClient" />
    <add name="K5GLONLINE.Properties.Settings.K5GL_BEConnectionString1"
        connectionString="Data Source=WINSERVER;Initial Catalog=K5GL_BE;User ID=server2008;Password=Mssqlone1"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
